p{
    background-color: orange;
    color:green;
    font-family: Arial;
    font-weight: bold;
    border:2px dotted violet;
    width:200px;
    height: 100px;
    position: relative;
    left:600px;

}